 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 body{
  background: #e6ecf0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
 }

 .content{
  max-width: 1300px;
  margin: 0 auto;
 }

 header{
  height: 46px;
  background: #fff;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  
 }

 header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
 }

 header nav ul {
  display: flex;
  list-style: none;
 }

 header nav ul li{
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
 }

 header nav ul li:first-child{
  margin: 0;
 }

 header .avatar {
  display: flex;
  gap: 15px;
 }

 header .avatar input{
  width: 220px;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667580;
  font-size: 12px;
  outline: 0;
  background:  #f5f8fa url(./assets/icons8-pesquisar-24.png) no-repeat 190px center;
  
  
 }

 header .avatar img{
  height: 33px;
  width: 34px;
  border-radius: 50%;

 }

 header .avatar button{
  height: 34px;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 16px;
  /* margin-right: 30px; */
  cursor: pointer;
  transition: 0.2s;
 }
 header .avatar button:hover{
  color: #3bb9e3;
  background: #fff;
  border: 1px solid #3bb9e3;
 }

 .banner{
  background-color: #fff
 }

 .banner img{
  width: 100%;
  height: 380px;
 }

 .bar{
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 59px;
 }

 .bar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
 }

 .bar .content ul{
  list-style: none;
  gap: 30px;
  display: flex;
  height: 100%;
 }

 .bar .content ul li{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 15px;
 }

 .bar .content ul li.active::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
 }

 .bar .content ul li span{
  font-size: 12px;
  font-weight: bold;
  color: #667580;
 }

 .bar .content ul li strong{
  font-size: 18px;
  font-weight: bold;
  color: #667580;
  margin-top: 2px;
 }

 .bar .content ul li.active strong {
  color: #3bb9e3;
 }

 .bar .content .btns{
  display: flex;
  gap: 19px;
 }
 .bar .content .btns img{
  margin-top: 6px;
  height: 20px;
 }

 .bar .content .btns button {
  height: 34px;
  background: #fff;

   
  width: 90px;
  border: 1px solid #3bb9e3;
  color: #3bb9e3;
  font-weight: bold;
  font-size: 14px;
  border-radius: 16px;
  /* margin-right: 30px; */
  cursor: pointer;
  transition: 0.2s;
 }

 .bar .content .btns button:hover{
  color: #fff;
  background: #3bb9e3;
 }

/* SIDEBAR  */
.wrapper-content{
  display: flex;
}

.wrapper-content aside.profile{
  width: 260px;

}

.wrapper-content aside.profile img.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;

}
.wrapper-content aside.profile a{
  text-decoration: none;
  color: #667786;
}

.wrapper-content aside.profile h1{
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

.wrapper-content aside.profile span{
  font-size: 14px;
  color: #53626c;
}

.wrapper-content aside.profile p{
  color: #1f2226;
  font-size: 14px;
  margin-top: 15px;
}

.wrapper-content aside.profile ul{
  margin-top: 20px;
  list-style: none;
}

.wrapper-content aside.profile ul.list li{
  font-size: 14px;
  color: #667786;

  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.wrapper-content aside.profile .widgets{
  margin-top: 20px;
}

.wrapper-content aside.profile .widgets strong{
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.wrapper-content aside.profile .widgets strong img{
  margin-right: 5px;
}

.wrapper-content aside.profile .followers ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 3px;
  align-content: flex-start;
  align-items: flex-start;
  
}
/* .wrapper-content aside.profile .followers ul li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #d0d5d9;
  margin: 0 0 5px;
  flex-shrink: 0;
  flex-grow: 1;
} */

.wrapper-content aside.profile .followers ul li img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #d0d5d9;
  margin: 0 0 5px;
  flex-shrink: 0;
  flex-grow: 1;
}

.wrapper-content aside.profile .images ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  align-content: flex-start;
  align-items: flex-start;
  
} 

.wrapper-content aside.profile .images ul li,
 .wrapper-content aside.profile .images ul li img{
  width: 83px;
  height: 83px;
   border-radius: 10px;
  background: #d0d5d9;
  margin-bottom:  5px;
  flex-shrink: 0;
  flex-grow: 1;
}

/* TIMELINE  */
.wrapper-content .timeline{
  flex-grow: 1;
  background: #fff;
  margin: 10px 10px 0;
}

.wrapper-content .timeline nav{
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 10px;
}

.wrapper-content .timeline nav a{
  text-decoration: none;
  color: #3bb9e3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.wrapper-content .timeline nav a:first-child{
  color: #1f2226;
  margin: 0;
}

.wrapper-content .timeline ul{
  list-style: none;
}

.wrapper-content .timeline ul li {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 10px;

  display: flex;
}

.wrapper-content .timeline ul li .avatarM {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

 

.wrapper-content .timeline ul li .actions{
  display: flex;
   
}

.wrapper-content .timeline ul li .actions a{
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}

.wrapper-content .timeline ul li .actions a:first-child {
  margin-left: 0;
}

.wrapper-content .timeline ul li .actions a img {
  margin-right: 5px;
}

.wrapper-content .timeline ul li .info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-content .timeline ul li .info strong {
  font-size: 14px;
  color: #1f2326;
}

.wrapper-content .timeline ul li .info video {
  width: 557px;
  height: 396px;
}

.wrapper-content .timeline ul li .info strong span {
  font-weight: normal;
  font-size: 13px;
  color: #7b8b9a;
}

.wrapper-content .timeline ul li .info .meme {
  border-radius: 6px;
}


/* ASIDE LADO DIREITO */
.wrapper-content aside.widgets {
  width: 290px;
  margin-top: 10px;
}

 

.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
  height: 300px;
   
  
}

 

.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.wrapper-content aside.widgets .widget .title strong{
  font-size: 18px;
  color: #1f2226;
}

.wrapper-content aside.widgets .widget .title a{
  font-size: 12px;
  color: #3bb9e3;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

.wrapper-content aside.widgets .widget .title a::before {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}

.wrapper-content aside.widgets .follow ul{
  
}

.wrapper-content aside.widgets .follow  ul li {
   display: flex;
  justify-content: space-between;  
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.wrapper-content aside.widgets .follow ul li .profile{
display: flex;
align-items: center;
 
}

.wrapper-content aside.widgets .follow ul li .profile img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.wrapper-content aside.widgets .follow ul li .profile .info{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

.wrapper-content aside.widgets .follow ul li .profile .info strong span{
  font-weight: normal;
  color: #9a9a9a;
}

.wrapper-content aside.widgets .follow ul li .profile .info button{
  height: 27px;
  background: #fff;
  margin-top: 4px;
   
  width: 90px;
  border: 1px solid #3bb9e3;
  color: #3bb9e3;
  font-weight: bold;
  font-size: 14px;
  border-radius: 16px;
  /* margin-right: 30px; */
  cursor: pointer;
  transition: 0.2s;
}

.wrapper-content aside.widgets .follow ul li .profile .info button:hover{
  color: #fff;
  background: #3bb9e3;
}

.wrapper-content aside.widgets .follow ul li .profile > a{
  color: #ccd6dd;
  text-decoration: none;
  font-size: 14px;
}


 
.wrapper-content aside.widgets .follow .users {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #3bb9e3;
  font-size: 14px;
}

.wrapper-content aside.widgets .trends{
  margin-top: 10px;
  height: 280px;
}

.wrapper-content aside.widgets .trends .trend strong{
  font-size: 18px;
  color: #1f2326;
  padding-right: 5px;
}

.wrapper-content aside.widgets .trends .trend a{
  font-size: 12px;
  color: #3bb9e3;
  text-decoration: none;
  position: relative;
   
}

.wrapper-content aside.widgets .trends .trend a::before{
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  
  position: absolute;
  left: -3px;
  top: 6px;
}

.wrapper-content aside.widgets .trends .topics ul {
  list-style: none;
  margin-top: 9px;
}

.wrapper-content aside.widgets .trends .topics ul li{
  margin-top: 9px;
}

.wrapper-content aside.widgets .trends .topics ul a {
  text-decoration: none;
  color: #3bb9e3;
  font-weight: bold;
}
 
  
 